/*
 * -- bulletin status bar --
 */
#bulletin .console {
	color: #fff;
	font-family: Roboto, sans-serif;
	line-height: 1.5;
}

#bulletin .console .status-bar {
	background: #f9f9f3;
	height: 3vm;
	border-radius: .5em .5em 0 0;
}

#bulletin .console .status-bar {
	background: #f9f9f3;
	padding: .5em;
	border-radius: .5em .5em 0 0;
}

#bulletin .console .status-bar span[class^='btn-'] {
	/*display: inline-block;*/
	float: left;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	margin-right: .5em;
}

#bulletin .console .status-bar .btn-close {
	background-color: #fc635d;
}

#bulletin .console .status-bar .btn-min {
	background-color: #fdbc40;
}

#bulletin .console .status-bar .btn-max {
	background-color: #34c84a;
}

/*
 * -- bulletin content --
 */

#bulletin .console .bulletin-content {
	display: block;
	height: auto;
	background-color: #222;
	padding: 3.5em 2em 2em;
	box-sizing: border-box;
	box-shadow: 0 0 2em rgba(0, 0, 0, .2);
	border-radius: .5em .5em 0 0;
}

#bulletin .bulletin-content .bulletin-row {
	color: #34c84a;
	border-left: solid #f9f9f3 3px;
}

#bulletin .bulletin-content .bulletin-row td {
	display: block;
	border: 0;
}

#bulletin .bulletin-content .bulletin-row .time:before {
	display: inline;
	content: 'bulletin@time$: ';
}

#bulletin .bulletin-content .bulletin-row .content {
	/* 换行 */
	word-break: break-all;
	border-bottom: solid #f9f9f3 1px;
}

#bulletin .bulletin-content .bulletin-row .content:before {
	display: inline;
	content: 'bulletin@content$: ';
}

