body {
	margin: 0;
	padding: 0;
	background-color: #222;
}

#countdown-container {
	width: 100%;
	margin: 0 auto;
	max-width: 1160px;
}

countdown-timer {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
}
