/* From http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3 */

h1 {
	text-align: center;
	padding-bottom: 10rem;
}

html, body, .container, .row {
	height: 100%;
}

.vertical-center {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#forget input {
	background-color: rgba(255, 255, 255, 1);
}

#msgtip .well {
	display: none;
}

.success {
	color: #00BC8C;
}

.error {
	color: #E74C3C;
}
